{% extends "layouts/journey.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set pageName = pageName or "Delete this address?" %}
{% set confirmText = confirmText or "Confirm that you want to delete this address." %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block journeyContent %}
  {% include "partials/design-release-2.1/delete-confirmation.html" %}
{% endblock %}
