<div class="app-dr2-amend-modal" id="amend-notification-modal" hidden data-module="amend-notification-modal">
  <div class="app-dr2-amend-modal__overlay" data-amend-modal-dismiss></div>
  <div
    class="app-dr2-amend-modal__dialog"
    role="dialog"
    aria-modal="true"
    aria-labelledby="amend-notification-modal-title"
    aria-describedby="amend-notification-modal-description"
    tabindex="-1"
  >
    <div class="app-dr2-amend-modal__header">
      <button
        class="app-dr2-amend-modal__close"
        type="button"
        data-amend-modal-dismiss
        aria-label="Close"
      >
        <span class="app-dr2-amend-modal__close-icon" aria-hidden="true"></span>
      </button>
    </div>
    <div class="app-dr2-amend-modal__body">
      <h1 class="app-dr2-amend-modal__title app-dr2-amend-modal__title--with-description" id="amend-notification-modal-title">
        Amend notification
      </h1>
      <p class="govuk-body app-dr2-amend-modal__description" id="amend-notification-modal-description">
        Are you sure you want to change this notification?
      </p>
      <div class="app-dr2-amend-modal__actions">
        <a class="govuk-button" href="{{ pageHeader.amendHref or ((journeyBasePath + '/notifications/amend') if journeyBasePath else '/notifications/amend') }}">Yes, continue</a>
        <button class="govuk-link app-dr2-amend-modal__back-link" type="button" data-amend-modal-dismiss>
          No, go back
        </button>
      </div>
    </div>
  </div>
</div>
