{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h1 class="govuk-heading-l">{{ pageName }}</h1>

{{ govukSummaryList({
  rows: summaryRows
}) }}

<p class="govuk-body">{{ confirmText }}</p>
<p class="govuk-body">This action cannot be undone.</p>

<form method="post" action="{{ deleteAction }}">
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Yes, delete",
      classes: "govuk-button--warning"
    }) }}

    <a class="govuk-link" href="{{ backLink }}">No, cancel</a>
  </div>
</form>
