{% extends "layouts/journey.html" %}

{% set journeyPageClass = "app-additional-animal-details-page" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set pageName = "Additional details" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block journeyContent %}

    {% include "partials/notification-status.html" %}

    {% if data.errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: data.errorList
      }) }}
    {% endif %}

    <div class="app-additional-animal-details-page__header">
      <p class="app-additional-animal-details-page__caption">Commodity details</p>
      <h1 class="app-additional-animal-details-page__heading">Additional details</h1>
    </div>

    <form method="post" action="/design-release-2/additional-animal-details" novalidate class="app-additional-animal-details-form">

      {% if showCertificationPurposeQuestion %}
        {{ govukRadios({
          idPrefix: "certification-purpose",
          name: "certificationPurpose",
          fieldset: {
            legend: {
              text: "What are the animals certified for?",
              classes: "govuk-fieldset__legend--m app-eu-heading-m"
            }
          },
          hint: {
            text: "This information can be found on the ITAHC."
          },
          errorMessage: data.errors.certificationPurpose if data.errors and data.errors.certificationPurpose,
          classes: "app-origin-radios",
          formGroup: {
            classes: "app-origin-radios-block app-additional-animal-details-page__question"
          },
          items: certificationPurposeItems
        }) }}
      {% endif %}

      {% if showUnweanedQuestion %}
        {{ govukRadios({
          idPrefix: "unweaned-animals",
          name: "unweanedAnimals",
          fieldset: {
            legend: {
              text: "Does the consignment contain any unweaned animals?",
              classes: "govuk-fieldset__legend--m app-eu-heading-m"
            }
          },
          hint: {
            text: "These are animals that are still feeding from their mother."
          },
          errorMessage: data.errors.unweanedAnimals if data.errors and data.errors.unweanedAnimals,
          classes: "app-origin-radios",
          formGroup: {
            classes: "app-origin-radios-block app-additional-animal-details-page__question"
          },
          items: unweanedItems
        }) }}
      {% endif %}

      {% set journeyFormActionOptions = {} %}
      {% include "partials/design-release-2/journey-form-actions.html" %}

    </form>

{% endblock %}
