<section class="app-package-details" aria-labelledby="package-details-heading">
  <h2 class="app-package-details__heading" id="package-details-heading">Package details (optional)</h2>

  <div class="app-package-details__fields">
    {% for field in data.packagingFields %}
      <div class="govuk-form-group app-package-details__field{% if field.type == 'select' %} app-package-details__field--select{% elif field.suffix %} app-package-details__field--weight{% elif field.type == 'number' %} app-package-details__field--number{% endif %}">
        <label class="govuk-label app-package-details__label" for="packaging-{{ field.id }}">
          {{ field.label }}
        </label>
        {% if field.hint %}
          <div id="packaging-{{ field.id }}-hint" class="govuk-hint app-package-details__hint">
            {{ field.hint }}
          </div>
        {% endif %}
        {% if field.type == 'select' %}
          <select
            class="govuk-select app-package-details__select"
            id="packaging-{{ field.id }}"
            name="packaging-{{ field.id }}"
            {% if field.hint %}aria-describedby="packaging-{{ field.id }}-hint"{% endif %}
          >
            <option value="">Select one</option>
            {% for option in field.options %}
              <option value="{{ option }}" {% if data.packaging[field.id] == option %}selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
        {% elif field.suffix %}
          <div class="govuk-input__wrapper app-package-details__input-wrapper">
            <input
              class="govuk-input app-package-details__input app-package-details__input--suffix"
              id="packaging-{{ field.id }}"
              name="packaging-{{ field.id }}"
              type="number"
              inputmode="decimal"
              step="any"
              value="{{ data.packaging[field.id] }}"
              {% if field.hint %}aria-describedby="packaging-{{ field.id }}-hint"{% endif %}
              autocomplete="off"
            >
            <div class="govuk-input__suffix" aria-hidden="true">{{ field.suffix }}</div>
          </div>
        {% else %}
          <input
            class="govuk-input app-package-details__input app-package-details__input--number"
            id="packaging-{{ field.id }}"
            name="packaging-{{ field.id }}"
            type="number"
            inputmode="numeric"
            value="{{ data.packaging[field.id] }}"
            autocomplete="off"
          >
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
