{% macro renderAnimalFields(animal, fields, values) %}
  {% for field in fields %}
    <div class="app-animal-identifiers__field">
      <label class="app-animal-identifiers__field-label" for="animal-{{ animal.id }}-{{ field.id }}">
        {{ field.label }}
      </label>
      <input
        class="govuk-input govuk-input--width-10 app-animal-identifiers__field-input"
        id="animal-{{ animal.id }}-{{ field.id }}"
        name="animal-{{ animal.id }}-{{ field.id }}"
        type="{% if field.id == 'collection-date' %}date{% else %}text{% endif %}"
        value="{{ values[field.id] }}"
        autocomplete="off"
      >
    </div>
  {% endfor %}
{% endmacro %}

{% set animals = panelAnimals if panelAnimals else data.animals %}
{% set animalCount = panelAnimalCount if panelAnimalCount else data.animalCount %}
{% set speciesId = panelSpeciesId if panelSpeciesId else '' %}

<div class="app-animals-summary">
  <p class="app-animals-summary__text">
    <strong>{{ animalCount }} animals</strong> to add
  </p>
  <p class="app-animals-summary__change">
    <button class="govuk-link app-govuk-body-link" type="submit" name="action" value="change-{{ speciesId }}">
      Change
    </button>
  </p>
</div>

<h3 class="app-animal-identifiers__heading">Add identifiers</h3>

<div class="app-animal-identifiers">
  <div class="app-animal-identifiers__table" role="group" aria-label="Animal identifiers for {{ panel.label if panel else data.speciesPanelName }}">

    <div class="app-animal-identifiers__row app-animal-identifiers__row--header">
      <div class="app-animal-identifiers__cell app-animal-identifiers__cell--checkbox">
        <div class="govuk-checkboxes app-animal-identifiers__checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="select-all-animals-{{ speciesId }}"
              type="checkbox"
              data-select-all-animals
            >
            <label class="govuk-checkboxes__label app-animal-identifiers__row-label" for="select-all-animals-{{ speciesId }}">
              Animal
            </label>
          </div>
        </div>
      </div>
    </div>

    <hr class="app-animal-identifiers__divider">

    {% for animal in animals %}
      <div class="app-animal-identifiers__animal" id="animal-{{ speciesId }}-{{ animal.id }}">
        <div class="app-animal-identifiers__row app-animal-identifiers__row--animal">
          <div class="app-animal-identifiers__cell app-animal-identifiers__cell--checkbox">
            <div class="govuk-checkboxes app-animal-identifiers__checkboxes">
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  id="animal-select-{{ speciesId }}-{{ animal.id }}"
                  name="selectedAnimals"
                  type="checkbox"
                  value="{{ animal.id }}"
                  data-animal-checkbox
                >
                <label class="govuk-checkboxes__label app-animal-identifiers__row-label" for="animal-select-{{ speciesId }}-{{ animal.id }}">
                  {{ animal.label }}
                </label>
              </div>
            </div>
          </div>
          <div class="app-animal-identifiers__cell app-animal-identifiers__cell--action">
            <button
              class="govuk-link app-govuk-body-link app-animal-identifiers__remove"
              type="submit"
              name="action"
              value="remove-{{ speciesId }}--{{ animal.id }}"
            >
              Remove<span class="govuk-visually-hidden"> {{ animal.label }}</span>
            </button>
          </div>
        </div>

        {% if data.identifierFields and data.identifierFields.length > 0 %}
          <div class="app-animal-identifiers__row app-animal-identifiers__row--fields app-animal-identifiers__row--fields-count-{{ data.identifierFields.length }}">
            {{ renderAnimalFields(animal, data.identifierFields, animal.identifiers) }}
          </div>
        {% endif %}
      </div>

      <hr class="app-animal-identifiers__divider">
    {% endfor %}

  </div>
</div>

{% if showPackagingInPanel and data.packagingFields and data.packagingFields.length > 0 %}
  {% include "partials/animal-packaging-details.html" %}
{% endif %}
