{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "internal-market-purpose",
  name: "internalMarketPurpose",
    fieldset: {
      legend: {
        text: "Purpose in the internal market",
        classes: "app-eu-heading-m app-internal-market-purpose__legend"
      },
      classes: "app-internal-market-purpose"
    },
  errorMessage: data.errors.internalMarketPurpose if data.errors and data.errors.internalMarketPurpose,
  classes: "app-internal-market-purpose-radios",
  formGroup: {
    classes: "app-internal-market-purpose__radios"
  },
  items: internalMarketPurposeItems
}) }}
