<div class="app-species-panel{% if panel.animalsAdded %} app-species-panel--expanded{% endif %}" id="species-panel-{{ panel.speciesId }}">
  <h2 class="app-species-panel__species-name">{{ panel.label }}</h2>

  {% if panel.animalsAdded and panel.animals %}
    {% set panelAnimals = panel.animals %}
    {% set panelAnimalCount = panel.animalCount %}
    {% set panelSpeciesId = panel.speciesId %}
    {% set showPackagingInPanel = showSpeciesPackaging and panel.speciesId == packagingPanelSpeciesId %}
    {% include "partials/animal-identifiers-expanded.html" %}
  {% else %}
    <div class="app-animal-quantity{% if data.errors and data.errors['animalCount-' + panel.speciesId] %} app-animal-quantity--error{% endif %}">
      <label class="app-animal-quantity__label" for="animal-count-{{ panel.speciesId }}">
        Number of animals
      </label>
      {% if data.errors and data.errors['animalCount-' + panel.speciesId] %}
        <p id="animal-count-{{ panel.speciesId }}-error" class="govuk-error-message app-animal-quantity__error">
          <span class="govuk-visually-hidden">Error:</span>
          {{ data.errors['animalCount-' + panel.speciesId].text }}
        </p>
      {% endif %}
      <div class="app-animal-quantity__control-row">
        <input
          class="govuk-input app-animal-quantity__input{% if data.errors and data.errors['animalCount-' + panel.speciesId] %} govuk-input--error{% endif %}"
          id="animal-count-{{ panel.speciesId }}"
          name="animalCount-{{ panel.speciesId }}"
          type="number"
          min="1"
          inputmode="numeric"
          value="{{ panel.animalCountInput or '1' }}"
          {% if data.errors and data.errors['animalCount-' + panel.speciesId] %}aria-describedby="animal-count-{{ panel.speciesId }}-error"{% endif %}
        >
        <button class="govuk-button app-animal-quantity__add-button" type="submit" name="action" value="add-{{ panel.speciesId }}">
          Add
        </button>
      </div>
    </div>
  {% endif %}
</div>
