{% from "govuk/components/select/macro.njk" import govukSelect %}

<div class="app-transit-options-reveal">
  {{ govukSelect({
    id: "transit-exit-border-control-post",
    name: "transitExitBorderControlPost",
    label: {
      text: "Port of exit"
    },
    items: exitBorderControlPostItems,
    errorMessage: data.errors.transitExitBorderControlPost if data.errors and data.errors.transitExitBorderControlPost
  }) }}

  {{ govukSelect({
    id: "transit-destination-country",
    name: "transitDestinationCountry",
    label: {
      text: "Destination country"
    },
    items: destinationCountryItems,
    errorMessage: data.errors.transitDestinationCountry if data.errors and data.errors.transitDestinationCountry
  }) }}
</div>
