{% extends "layouts/main.html" %}

{% set pageName = "Review your notification" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row app-review-notification">
  <div class="govuk-grid-column-full">
    {% include "partials/notification-caption.html" %}
    <h1 class="govuk-heading-l">Review your notification</h1>

    {% for section in sections %}
      <h2 class="govuk-heading-m app-review-notification__section-heading">{{ section.title }}</h2>

      {% for list in section.lists %}
        <div class="app-review-notification__summary-block">
          <h3 class="govuk-heading-s app-review-notification__summary-title">{{ list.title }}</h3>
          <div class="app-review-notification__summary-content">
            {{ govukSummaryList({
              classes: "app-review-notification__summary-list",
              rows: list.rows
            }) }}
          </div>
        </div>
      {% endfor %}
    {% endfor %}

    {{ govukButton({
      text: "Continue",
      href: "/declaration"
    }) }}
  </div>
</div>
{% endblock %}
