{% extends "layouts/main.html" %}

{% set pageName = "Commodity details" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-consignment-details-shell">
      <div class="app-consignment-details-page">

        {% include "partials/notification-status.html" %}

        {% if data.errorList %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: data.errorList
          }) }}
        {% endif %}

        <form method="post" action="/consignment-details" novalidate class="app-consignment-details-form">

          <div class="app-consignment-details-page__intro">
            <div class="app-consignment-details-page__header">
              <p class="app-consignment-details-page__caption">About the consignment</p>
              <h1 class="app-consignment-details-page__heading">Commodity details</h1>
            </div>

            {% if selectedCommodityRows and selectedCommodityRows.length %}
              <h2 class="app-consignment-details-page__selected-commodities-heading" id="selected-commodities-heading">
                Selected commodities
              </h2>

              <div class="app-consignment-details-page__summary" aria-labelledby="selected-commodities-heading">
                <div class="app-consignment-details-page__summary-row app-consignment-details-page__summary-row--header">
                  <div class="app-consignment-details-page__summary-key">Commodity code</div>
                  <div class="app-consignment-details-page__summary-value">Common name</div>
                </div>

                {% for row in selectedCommodityRows %}
                  <div class="app-consignment-details-page__summary-row">
                    <div class="app-consignment-details-page__summary-key">{{ row.code }}</div>
                    <div class="app-consignment-details-page__summary-value">{{ row.name }}</div>
                    <div class="app-consignment-details-page__summary-action">
                      <button
                        class="app-consignment-details-page__summary-remove"
                        type="submit"
                        name="removeCommodity"
                        value="{{ row.commodityId }}"
                      >
                        Remove
                      </button>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <p class="app-consignment-details-page__add-commodity">
                <a class="govuk-link" href="/what-are-you-importing">Add another commodity</a>
              </p>
            {% endif %}
          </div>

          <div class="app-consignment-details-page__details">
            {% for group in commodityGroups %}
              {% if not loop.first %}
                <hr class="app-consignment-details-page__section-break">
              {% endif %}

              <h2 class="app-consignment-details-page__commodity-heading" id="commodity-group-{{ group.commodityId }}">
                {{ group.heading }}
              </h2>

              {% for species in group.speciesEntries %}
                <div class="app-consignment-details-page__species-heading">
                  <p class="app-consignment-details-page__species-caption">{{ group.heading }}</p>
                  <h3 class="app-consignment-details-page__species-name">{{ species.speciesName }}</h3>
                </div>

                {% set numberOfAnimalsError = data.errors["numberOfAnimals-" + species.speciesId] if data.errors and data.errors["numberOfAnimals-" + species.speciesId] %}

                {{ govukInput({
                  label: {
                    text: "Number of animals"
                  },
                  id: "number-of-animals-" + species.speciesId,
                  name: "numberOfAnimals[" + species.speciesId + "]",
                  value: species.numberOfAnimals,
                  classes: "govuk-input--width-10 app-consignment-details-page__input",
                  errorMessage: numberOfAnimalsError
                }) }}

                {% if species.showPackaging %}
                  {% for field in species.packagingFields %}
                    {{ govukInput({
                      label: {
                        text: field.label
                      },
                      hint: {
                        text: field.hint
                      },
                      id: field.id,
                      name: field.name,
                      value: field.value,
                      classes: "govuk-input--width-10 app-consignment-details-page__input",
                      errorMessage: field.errorMessage
                    }) }}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}

            <div class="app-origin-form-actions">
              <div class="app-origin-actions">
                {{ govukButton({
                  text: "Save and continue",
                  name: "action",
                  value: "continue"
                }) }}

                {{ govukButton({
                  text: "Save and return to hub",
                  name: "action",
                  value: "hub",
                  classes: "govuk-button--secondary"
                }) }}
              </div>

              <p class="app-origin-form-actions__cancel">
                <a class="govuk-link" href="/notification-hub">Cancel and return to hub</a>
              </p>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
