{% extends "layouts/main.html" %}

{% set pageName = "Consignment addresses" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/notification-tasklist"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: data.errorList
      }) }}
    {% endif %}

    <span class="govuk-caption-l">{{ reference }}</span>
    <h1 class="govuk-heading-l">Consignment addresses</h1>

    {{ govukWarningText({
      text: "Providing a false address is an act of fraud",
      iconFallbackText: "Warning"
    }) }}

    <form method="post" action="/consignment-addresses" novalidate>
      {% for section in addressSections %}
      <section class="app-consignment-addresses__section">
        <h2 class="govuk-heading-m app-consignment-addresses__section-heading">{{ section.heading }}</h2>
        <p class="govuk-body govuk-hint app-consignment-addresses__hint">{{ section.hint }}</p>
        {% if section.selectedAddressHtml %}
          <div class="app-consignment-addresses__inset">
            {{ govukInsetText({
              html: section.selectedAddressHtml
            }) }}
          </div>
        {% endif %}
        <a{% if section.linkId %} id="{{ section.linkId }}"{% endif %} class="govuk-link app-govuk-body-link" href="/consignment-addresses/add/{{ section.addressType }}">
          {{ section.linkText }}
        </a>
      </section>
      {% endfor %}

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
