{% extends "layouts/main.html" %}

{% set pageName = "Import category not available" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/what-are-you-importing"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Create an import notification</span>
    <h1 class="govuk-heading-l">This journey is not available yet</h1>

    <p class="govuk-body">
      Only the Live animals journey is available in this prototype.
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="/what-are-you-importing">Choose a different import type</a>
    </p>

  </div>
</div>
{% endblock %}
