{% extends "layouts/main.html" %}

{% set pageName = "Notification tasklist" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "partials/notification-caption.html" %}
    <h1 class="govuk-heading-l">Notification tasklist</h1>

    {% for section in sections %}
      <section class="app-tasklist-section">
        <h2 class="govuk-heading-m app-tasklist-section__heading">{{ section.title }}</h2>

        <ul class="app-tasklist" role="list">
          {% for item in section.items %}
            <li class="app-tasklist__item">
              <a class="govuk-link app-govuk-body-link app-tasklist__link" href="{{ item.href }}">{{ item.text }}</a>
              {{ govukTag({
                text: item.status.text,
                classes: item.status.class + " app-tasklist__tag"
              }) }}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}

    <div class="app-tasklist-actions">
      {{ govukButton({
        text: "Return to dashboard",
        href: "/dashboard",
        classes: "govuk-button--secondary"
      }) }}

      {{ govukButton({
        text: "Review your notification",
        href: "/check-answers-and-submit?from=tasklist"
      }) }}
    </div>
  </div>
</div>
{% endblock %}
