{% extends "layouts/main.html" %}

{% set pageName = "Import notification submitted" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds app-notification-submitted">

    {% set panelHtml %}
      Your reference number<br><strong>{{ data.notificationReference }}</strong>
    {% endset %}

    {{ govukPanel({
      titleText: "Import notification submitted",
      html: panelHtml,
      classes: "app-notification-submitted__panel"
    }) }}

    <div class="app-notification-submitted__content">
      <section class="app-notification-submitted__block">
        <h2 class="app-notification-submitted__heading">What you need to do</h2>

        <p class="govuk-body">
          Tell the transporter that this consignment must go directly to the place of destination on entry to Great Britain.
        </p>

        <p class="govuk-body">
          The animals or consignment may need to be inspected.
        </p>

        <p class="govuk-body">
          If so, the animals must stay at the place of destination for either:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>the time stated on the health certificate</li>
          <li>48 hours if no time is specified</li>
        </ul>

        <h2 class="app-notification-submitted__heading app-notification-submitted__heading--follow-on">How to view or amend this notification</h2>

        <p class="govuk-body">
          You can view or change this notification from your dashboard.
        </p>

        <p class="govuk-body app-notification-submitted__links">
          <a class="govuk-link app-govuk-body-link" href="/dashboard">Return to your dashboard</a><br>
          <a class="govuk-link app-govuk-body-link" href="/what-are-you-importing">Create a new notification</a>
        </p>
      </section>

      <section class="app-notification-submitted__block">
        <h2 class="app-notification-submitted__heading">Getting help</h2>

        <p class="govuk-body">
          To get help with import notifications for live animals or germinal products, email
          <a class="govuk-link app-govuk-body-link" href="mailto:importsriskmanagement@apha.gov.uk">importsriskmanagement@apha.gov.uk</a>.
        </p>

        <p class="govuk-body">
          Contact the Animal and Plant Health Agency (APHA) if you need technical help with this service:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Telephone: 0330 041 6999</li>
          <li>Email: <a class="govuk-link app-govuk-body-link" href="mailto:APHAServiceDesk@apha.gov.uk">APHAServiceDesk@apha.gov.uk</a></li>
        </ul>

        <p class="govuk-body">
          Monday to Friday, 8:30am to 5pm, except bank holidays
        </p>

        <p class="govuk-body">
          If you need help with your customs declaration,
          <a class="govuk-link app-govuk-body-link" href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/customs-international-trade-and-excise-enquiries">contact HMRC</a>.
        </p>

        <p class="govuk-body">
          <a class="govuk-link app-govuk-body-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
        </p>
      </section>
    </div>

  </div>
</div>
{% endblock %}
