{% extends "layouts/main.html" %}

{% set pageName = "Main reason for import" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="app-reason-for-import-shell">

      {% include "partials/notification-status.html" %}

      {% if data.errorList %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: data.errorList
        }) }}
      {% endif %}

      <div class="app-reason-for-import-page">
        <div class="app-reason-for-import-page__header">
          <p class="app-reason-for-import-page__caption">About the consignment</p>
          <h1 class="app-reason-for-import-page__heading">Main reason for import</h1>
        </div>

        <form method="post" action="/reason-for-import" novalidate class="app-reason-for-import-form">

          {{ govukRadios({
            idPrefix: "import-reason",
            name: "importReason",
            fieldset: {
              legend: {
                text: "What is the main reason for importing the animals?",
                classes: "govuk-visually-hidden"
              }
            },
            errorMessage: data.errors.importReason if data.errors and data.errors.importReason,
            classes: "app-reason-for-import-radios",
            formGroup: {
              classes: "app-reason-for-import-page__question"
            },
            items: importReasonItems
          }) }}

          <div class="app-origin-form-actions">
            <div class="app-origin-actions">
              {{ govukButton({
                text: "Save and continue",
                name: "action",
                value: "continue"
              }) }}

              {{ govukButton({
                text: "Save and return to overview",
                name: "action",
                value: "hub",re
                classes: "govuk-button--secondary"
              }) }}
            </div>

            <p class="app-origin-form-actions__cancel">
              <a class="govuk-link" href="/notification-hub">Cancel and return to overview</a>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
