{% extends "layouts/main.html" %}

{% set pageName = "Transporter details" %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "/notification-tasklist"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row app-transporter-details">
  <div class="govuk-grid-column-full">
    {% if data.errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: data.errorList
      }) }}
    {% endif %}

    <div class="app-transporter-details__intro">
      <div class="app-transporter-details__title-block">
        <span class="govuk-caption-l">Movement</span>
        <h1 class="govuk-heading-l app-transporter-details__heading">Transporter details</h1>
      </div>

      {{ govukButton({
        text: "Add a transporter",
        classes: "govuk-button--secondary app-transporter-details__add-button",
        href: "#"
      }) }}
    </div>

    <p class="govuk-body app-transporter-details__description">
      This is the person or company responsible for transporting the consignment
    </p>

    {{ govukDetails({
      summaryText: "Help with transporter authorisation",
      html: '<p class="govuk-body">You must select a transporter that is authorised to move live animals into Great Britain.</p>'
    }) }}

    <form method="post" action="/transport-details" novalidate class="app-transporter-details__form">
      <h2 class="govuk-heading-m app-transporter-details__section-heading">Select a transporter</h2>

      <div class="govuk-form-group app-transporter-details__search">
        <label class="govuk-label" for="transporter-search">
          Search
        </label>
        <div id="transporter-search-hint" class="govuk-hint">
          Name, address or country
        </div>
        {% if data.errors and data.errors.transporterId %}
          <p id="transporter-id-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ data.errors.transporterId.text }}
          </p>
        {% endif %}
        <div class="app-commodity-search-wrapper app-transporter-details__search-input" data-module="app-transporter-search">
          <div class="app-commodity-search-panel">
            <div class="app-commodity-search">
              <input
                class="govuk-input app-commodity-search__input"
                id="transporter-search"
                name="transporterSearch"
                type="search"
                value="{{ data.transporterSearch or '' }}"
                autocomplete="off"
                aria-describedby="transporter-search-hint{% if data.errors and data.errors.transporterId %} transporter-id-error{% endif %}"
              >
              <button class="app-commodity-search__button" type="button" aria-label="Search transporters">
                <svg class="app-commodity-search__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 27" width="20" height="20" aria-hidden="true" focusable="false">
                  <path d="M19.6 18.1c1.6-2 .7-4.9.7-7.6C20.3 5.1 16.2 1 11.1 1S1.8 5.1 1.8 10.5s4.1 9.5 9.3 9.5c2.7 0 5.1-1.1 6.9-2.9l6.9 6.9 2.1-2.1-6.8-6.9zM11.1 18.1c-4.2 0-7.6-3.4-7.6-7.6S6.9 2.9 11.1 2.9s7.6 3.4 7.6 7.6-3.4 7.6-7.6 7.6z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="app-transporter-table{% if data.errors and data.errors.transporterId %} app-transporter-table--error{% endif %}" role="radiogroup" aria-labelledby="transporter-table-heading">
        <span id="transporter-table-heading" class="govuk-visually-hidden">Select a transporter</span>

        <div class="app-transporter-table__row app-transporter-table__row--header" aria-hidden="true">
          <div class="app-transporter-table__cell app-transporter-table__cell--select"></div>
          <div class="app-transporter-table__cell app-transporter-table__cell--name">Name</div>
          <div class="app-transporter-table__cell app-transporter-table__cell--address">Address</div>
          <div class="app-transporter-table__cell app-transporter-table__cell--approval">Approval number</div>
          <div class="app-transporter-table__cell app-transporter-table__cell--type">Type</div>
          <div class="app-transporter-table__cell app-transporter-table__cell--status">Status</div>
          <div class="app-transporter-table__cell app-transporter-table__cell--action"><span class="govuk-visually-hidden">Action</span></div>
        </div>

        {% for transporter in transporters %}
          <div
            class="app-transporter-table__row"
            data-transporter-row
            data-search-text="{{ transporter.name }} {{ transporter.addressLines | join(' ') }} {{ transporter.approvalNumber }} {{ transporter.type }} {{ transporter.status }} {{ transporter.country }}"
          >
            <div class="app-transporter-table__cell app-transporter-table__cell--select">
              <div class="govuk-radios__item app-transporter-table__radio-item">
                <input
                  class="govuk-radios__input"
                  id="transporter-{{ transporter.id }}"
                  name="transporterId"
                  type="radio"
                  value="{{ transporter.id }}"
                  {% if data.transporterId === transporter.id %}checked{% endif %}
                >
                <label class="govuk-radios__label" for="transporter-{{ transporter.id }}">
                  <span class="govuk-visually-hidden">Select {{ transporter.name }}</span>
                </label>
              </div>
            </div>
            <div class="app-transporter-table__cell app-transporter-table__cell--name app-transporter-table__cell--body">
              {{ transporter.name }}
            </div>
            <div class="app-transporter-table__cell app-transporter-table__cell--address app-transporter-table__cell--body">
              {{ transporter.addressLines | join(', ') }}
            </div>
            <div class="app-transporter-table__cell app-transporter-table__cell--approval app-transporter-table__cell--body">
              {{ transporter.approvalNumber }}
            </div>
            <div class="app-transporter-table__cell app-transporter-table__cell--type app-transporter-table__cell--body">
              {{ transporter.type }}
            </div>
            <div class="app-transporter-table__cell app-transporter-table__cell--status app-transporter-table__cell--body">
              {% if transporter.status === 'Approved' %}
                <strong class="govuk-tag app-transporter-tag app-transporter-tag--approved">{{ transporter.status }}</strong>
              {% elif transporter.status === 'New' %}
                <strong class="govuk-tag app-transporter-tag app-transporter-tag--new">{{ transporter.status }}</strong>
              {% else %}
                <strong class="govuk-tag">{{ transporter.status }}</strong>
              {% endif %}
            </div>
            <div class="app-transporter-table__cell app-transporter-table__cell--action">
              <a class="govuk-link app-govuk-body-link" href="#">View</a>
            </div>
          </div>
        {% endfor %}

        <p class="govuk-body app-transporter-table__no-results" hidden>No transporters match your search</p>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
