{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}
  {% set navDashboardHref = serviceNavDashboardHref if serviceNavDashboardHref else "/" %}
  {% set navServiceHref = "/index" %}
  {{ govukHeader({
    homepageUrl: navServiceHref,
    serviceName: serviceName if not useServiceNavigation,
    serviceUrl: serviceUrl if not useServiceNavigation else navServiceHref,
    containerClasses: "govuk-width-container"
  }) }}

  {% if useServiceNavigation %}
    {{
      govukServiceNavigation({
        serviceName: serviceName,
        serviceUrl: navServiceHref,
        navigation: [
          {
            href: navDashboardHref,
            text: "Dashboard",
            active: serviceNavActive == "dashboard"
          },
          {
            href: "/address-book",
            text: "Address book",
            active: serviceNavActive == "address-book"
          },
          {
            href: "#",
            text: "Manage account"
          },
          {
            href: "#",
            text: "Log out"
          }
        ]
      })
    }}
  {% endif %}
{% endblock %}
